/*  your css code here. If applicable */
body{
	background:rgb(135,206,235);
}
.first-para{
	background:black;
	color:white;
}
div{
	color:red;
}

li:first-child {
    background:white;
	width:40%;
}
li:last-child{
	background:lightcoral;
	width:40%;
}
li:nth-child(even){
	background:grey;
	width:40%;
}
li:nth-child(3){
	background:pink;
	width:40%;
}